<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>RunSchedule</title>
    </head>
        <body>
        {% block header %}
            <div style="text-align: right">
                 {% if request.user.is_authenticated %}
                    Witaj, {{ request.user.username }} <a href="/logout"><button>Wyloguj</button></a>
                {% else %}
                    <p>Nie jesteś zalogowany <a href="/login"><button>Zaloguj</button></a></p>
                {% endif %}
            </div>
            <h2>RunWorkoutApp</h2>
            <div>
                <a href="/"><button>Strona główna</button></a>
                <a href="/workout"><button>Mój aktualny plan</button></a>
                <a href="/workout_list"><button>Moje plany</button></a>
                <a href="/profile"><button>Mój profil</button></a>
            </div>
        {% endblock %}
        {% block content %}

        {% endblock %}

        {% block footer %}
            <h5>Wersja 1.0</h5>
        {% endblock %}
        </body>
</html>