{% extends "RunScheduleApp/base.html" %}

{% block content %}
    <div class="center">
        <div class="text_blue">
            {% if workout_plan %}
                <h3>Twój bierzący plan: {{ workout_plan.plan_name }}</h3>
            {% else %}
                <p class="form">
                    Brak aktywnego planu <a href="/workout_list" class="btn btn-primary">
                    Wybierz plan</a>
                </p>
            {% endif %}
        </div>
        <div>
            {% if workout_plan %}
                <a href="/plan_details/{{ workout_plan.id }}" class="btn btn-primary">Szczegóły planu</a>
                <a href="/select_active_plan" class="btn btn-primary">Zmień aktualny plan</a>
                </div>
                <div>
                    {{ calendar }}
                </div>
                <div>
                {% if month_number_requested != '1' %}
                    <a href="/workout/1" class="btn btn-primary">
                        <i class="fas fa-angle-double-left"></i>Pierwszy miesiąc</a>
                    <a href="/workout/{{ month_number_requested|add:'-1' }}" class="btn btn-primary">
                        <i class="fas fa-angle-left"></i> Poprzedni miesiąc</a>
                {% endif %}
                <a href="/workout/{{ present_month_number }}" class="btn btn-primary">Obecny miesiąc</a>
                {% if month_number_requested != last_month_number %}
                    <a href="/workout/{{ month_number_requested|add:1 }}" class="btn btn-primary">Następny miesiąc
                        <i class="fas fa-angle-right"></i></a>
                    <a href="/workout/{{ last_month_number }}" class="btn btn-primary">Ostatni miesiąc
                        <i class="fas fa-angle-double-right"></i></a>
                {% endif %}
            {% endif %}
            </div>
    </div>
{% endblock %}
