{% extends "RunScheduleApp/base.html" %}

{% block content %}
    <div>
        {% if workout_plan %}
            <h3>Twój bierzący plan: {{ workout_plan.plan_name }}</h3>
        {% else %}
            <p>Brak aktywnego planu <a href="/workout_list">
                <button>Wybierz plan</button>
            </a></p>
        {% endif %}
    </div>

    <div>
        {{ calendar }}
    </div>


    <div>
        {% if workout_plan %}
        <a href="/plan_details/{{ workout_plan.id }}"><button>Szczegóły planu</button></a>
        <a href="/workout_list"><button>Zmień plan</button></a>
        {% endif %}
    </div>

{% endblock %}
