{% extends "RunScheduleApp/base.html" %}
{% load static %}
{% block content %}
    <img height="500" width="100%" src="{% static "RunScheduleApp/css/app_logo.png" %}">
    {% if not request.user.is_authenticated %}
        <div class="text_blue">
            <p>
                <a href="/login" class="btn btn-primary btn-lg btn-block">To fully use the site you must sign in</a>
            </p>
            <p>
                <a href="/registration" class="btn btn-primary btn-lg btn-block">
                    If you do not have an account yet, sign up</a>
            </p>
        </div>
    {% endif %}
{% endblock %}
