{% extends "RunScheduleApp/base.html" %}

{% block content %}
    <div class="text_blue">
        <h4>Nazwa planu: {{ workout_plan.plan_name }}</h4>
        {% if workout_plan.description %}
        <p>Opis: {{ workout_plan.description }}</p>
        {% endif %}
        <p>Data rozpoczęcia: {{ workout_plan.date_range.lower|date:"d.m.Y"  }}</p>
        <p>Data zakończenia: {{ workout_plan.date_range.upper|date:"d.m.Y" }}</p>

        <p>
            <a class="btn btn-primary" href="/daily_training_add/{{ workout_plan.id }}">Zaplanuj trening</a>
            <a class="btn btn-primary" href="/workout_plan_edit/{{ workout_plan.id }}">Edytuj plan</a>
            <a class="btn btn-primary" href="/workout/{{ get_month_counter }}">Powrót do aktualnego planu</a>
            <a class="btn btn-primary" href="/workout_list">Powrót do listy planów</a>
        </p>
    </div>
    <div class="text_blue">
        <h4>Zaplanowane treningi:</h4>
        <ul class="text_blue list-group">
            {% for training in workout_plan.dailytraining_set.all|dictsort:"day" %}
                <li class="list-group-item list-group-item-primary">
                    {{ training.day|date:"d.m.Y" }}; {{ training }}
                    <a class="btn btn-primary btn-sm" href="/daily_training_edit/{{ workout_plan.id }}/{{ training.id }}">Edytuj</a>
                    <a class="btn btn-danger btn-sm" href="/daily_training_delete/{{ training.id }}">Usuń</a>
                </li>
            {% empty %}
                Brak dodanych treningów
            {% endfor %}
        </ul>
    </div>


{% endblock %}
