{% extends "RunScheduleApp/base.html" %}

{% block content %}
    <div class="text_blue">
        <h4>Plan's name: {{ workout_plan.name }}</h4>
        {% if workout_plan.description %}
            <p>
                Description: {{ workout_plan.description }}
            </p>
        {% endif %}
        <p>
            Plan start date: {{ workout_plan.date_range.lower|date:"d.m.Y" }}
        </p>
        <p>
            Plan end date: {{ workout_plan.date_range.upper|date:"d.m.Y" }}
        </p>
        <p>
            <a class="btn btn-primary" href="{% url 'add_training' workout_plan.id %}">Add new training</a>
            <a class="btn btn-primary" href="{% url 'workout_plan_edit' workout_plan.id %}">Edit plan</a>
            <a class="btn btn-primary" href="{% url 'current_workout' month year %}">Return to calendar</a>
            <a class="btn btn-primary" href="{% url 'workout_plans' %}">Return to your plans</a>
        </p>
    </div>
    <div class="text_blue">
        <h4>Scheduled trainings:</h4>
        <div class="text_blue list-group">
            {% for training in workout_plan.training_set.all|dictsort:"day" %}
                <a class="btn btn-primary btn-sm"
                   href="{% url 'edit_training' workout_plan.id training.id %}">
                    <div class="list-group-item list-group-item-primary">
                        {{ training.day|date:"d.m.Y" }}; {{ training }}
                        {% if training.accomplished %}
                            <i class="fas fa-check"></i>
                        {% else %}
                            {% if training.day <= date_today %}
                                <form class="inline">
                                    <button formmethod="get" formaction="{% url 'diary_entry_add' training.id %}"
                                            class="btn btn-success btn-sm">Add to diary
                                    </button>
                                </form>
                            {% endif %}
                            <form class="inline">
                                <button formmethod="get" formaction="{% url 'delete_training' training.id %}"
                                        class="btn btn-danger btn-sm">Delete
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </a>
            {% empty %}
                No trainings added
            {% endfor %}
        </div>
    </div>
{% endblock %}
