{% extends "RunScheduleApp/base.html" %}

{% block content %}
    <div class="text_blue">
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Training</th>
                <th>Distance</th>
                <th>Time</th>
                <th>Comments</th>
            </tr>
            {% for entry in diary_entries %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.training_info }}</td>
                    <td>{{ entry.training_distance }}</td>
                    <td>{{ entry.training_time }}</td>
                    <td>{{ entry.comments }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}