{% extends "RunScheduleApp/base.html" %}

{% block content %}
    <div class="profile">
        <p>
           Username: {{ request.user.username }}
        </p>
        <p>
            First name: {{ request.user.first_name }}
        </p>
        <p>
            Last name: {{ request.user.last_name }}
        </p>
        <p>
            E-mail address: {{ request.user.email }}
        </p>
        <p>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit profile</a>
            <a href="{% url 'change_password' %}" class="btn btn-primary">Change your password</a>
        </p>
    </div>
{% endblock %}

