@font-face {
    font-family: 'Ubuntu', sans-serif;
}

.btn-primary{
    background-color: lightskyblue;
    color: darkblue;
    border-color: lightblue;
}

body {
    background-color: lightcyan;
    font-family: 'Ubuntu', sans-serif;
}

table a {
    text-decoration: None;
    color: darkblue;
}

table th {
    text-decoration: None;
    text-align: center;
    color: aliceblue;
    background-color: darkblue;
}

.table tbody td:hover {
    border: solid 1px darkblue;
    background-color: mediumvioletred;

}

nav a {
    color: aliceblue;
}

.list-group li:hover{
    background-color: rgba(255,255,255,0.25);
    transition: background-color 1s ease-out;
}

nav a:hover {
    color: deepskyblue;
}

.table tbody td {
    transition: background-color 1s ease-out;
}

.table a
{
    display:block;
    text-decoration:none;
}


#fixedheight td a {
    height: 42px;
    overflow: hidden;
}

.text_blue {
    color: darkblue;
}

.center {
    text-align: center;
}