@font-face {
    font-family: 'Ubuntu', sans-serif;
}

.btn-primary {
    background-color: #798EF6;
    color: #0A2299;
    border-color: #0A2299;
}

body {
    background-color: #DDE3FD;
    font-family: 'Ubuntu', sans-serif;
}

table a {
    text-decoration: None;
    color: #0A2299;
}

table th {
    text-decoration: None;
    text-align: center;
    color: #DDE3FD;
    background-color: #0A2299;
}

.table tbody td:hover {
    border: solid 1px #0A2299;
    background-color: #183BF0;
}

.table tbody td a:hover {
    color: #DDE3FD;
}

.nav {
    color: aliceblue;
    font-size: 20px;
    background-color: #0A2299;
}

.nav a {
    color: #DDE3FD;
}

.list-group div {
    background-color: #798EF6;
    border-color: #798EF6;
    font-size: 20px;
}

.list-group div:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color 1s ease-out;
}

.list-group a {
    margin-top: 10px;
}

nav a:hover {
    color: deepskyblue;
}

.table tbody td {
    transition: background-color 1s ease-out;
}

.table a {
    display: block;
    text-decoration: none;
}

#fixedheight td a {
    height: 42px;
    overflow: hidden;
}

.text_blue {
    color: #0A2299;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.form {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.inline {
    display: inline;
}

.active_plan {
    color: red;
    font-style: italic;
}

.profile {
    color: #0A2299;
    margin-top: 2em;
}